.container{
  margin-top: 13.8%;
  margin-bottom: 13.8%;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.form-elegant {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.form-elegant button {
  border-radius: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  width: 50%;
  margin-bottom: 35px;
}
