<mat-nav-list class="side">
  <div class="profile-card">
    <div class="header">
      <h3>Cloud Service Selection Web Portal</h3>

      <img src="assets/images/predictive-analytics.png" alt="User" style="padding: 10px; width: 150px; height: 150px">

      <h6>
        <address>
          Customer Satisfaction towards Cloud Service Selection method Using Machine Learning
        </address>
      </h6>
      <h6><a href="https://docs.google.com/forms/d/e/1FAIpQLScstGOypmFfsoiaVUlwYMq_vqFmsGyAmCayO3-o871qRMvE6w/viewform?usp=sf_link&usp=embed_facebook">Cloud Service Form</a></h6>
    </div>

  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/news">News</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/news-table">Admin</a>

  <mat-divider></mat-divider>
</mat-nav-list>
