<header style="margin-bottom: 60px">

  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark primary-color scrolling-navbar intro-fixed-nav" [containerInside]="false">

    <mdb-navbar-brand>
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="top-image">
         <a class="logo navbar-brand" href="/auth">
       <img src="assets/images/logo.png" alt="" style="cursor: pointer"/>
      </a>
      </span>
    </mdb-navbar-brand>
    <!-- Collapsible content -->

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto nav-flex-icons">

        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
        </form>

        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="assets/images/logo.png" class="rounded-circle z-depth-0"
                 alt="avatar image" style="width: 25px">
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-default" role="menu">
            <a class="dropdown-item" routerLink="/dashboard/profile" [class.disabled]="lock">Profile <i class="fa fa-lock" style="padding-left: 5px" aria-hidden="true" [hidden]="!lock"></i></a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>

      </ul>


    </links>

    <!-- Collapsible content -->
  </mdb-navbar>

  <!-- /.Main -->
</header>
<!--Main Navigation-->
