<div fxLayoutAlign="space-between center" fxLayoutGap="20px" style="background-color: #3A3A3A">

  <div class="d-inline-flex justify-content-start" style="margin: 15px auto">

    <div class="p-2 flex-grow" routerLink="/dashboard/home">
      <!-- Card -->
      <mdb-card class="card-myStyle">
        <div class="view waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="assets/images/analysis.png" alt="Home">
          </mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title style="text-align: center;">
            <h4>Home</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->

    </div>

    <div class="p-2 flex-grow" routerLink="/dashboard/quick-estimate">
      <!-- Card -->
      <mdb-card class="card-myStyle">
        <div class="view waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="assets/images/calculator.png" alt="Quick Estimate">
          </mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title style="text-align: center;">
            <h4>Quick Estimate</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>

    <div class="p-2 flex-grow" routerLink="/dashboard/advanced-estimate">
      <!-- Card -->
      <mdb-card class="card-myStyle">
        <div class="view waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="assets/images/price.png" alt="Advanced Estimate">
          </mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title style="text-align: center;">
            <h4>Advanced Estimate</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>

    <div class="p-2 flex-grow" routerLink="/dashboard/model-status">
      <!-- Card -->
      <mdb-card class="card-myStyle">
        <div class="view waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="assets/images/status.png" alt="Model Status">
          </mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title style="text-align: center;">
            <h4>Model Status</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>

    <div class="p-2 flex-grow" routerLink="/dashboard/group-chatting">
      <!-- Card -->
      <mdb-card class="card-myStyle">
        <div class="view waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="assets/images/chatting.png" alt="Group Chatting">
          </mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title style="text-align: center">
            <h4>Group Chatting</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->

    </div>

    <div class="p-2 flex-grow" routerLink="/dashboard/help">
      <!-- Card -->
      <mdb-card class="card-myStyle">
        <div class="view waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="assets/images/help.png" alt="Help">
          </mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title style="text-align: center;">
            <h4>Help</h4>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->

    </div>

  </div>

</div>


<br>

<mat-divider></mat-divider>

<br>
