<div class="container">
  <h2>Create or Update News</h2>

  <div class="container my-4">

    <p>
      <strong>If you want to add news our web site, Please fill this form correctly. Because, It will add to Machine Learning System.
        So, If you enter wrong details prediction will be wrong.
        <a href="https:google.com" target="_blank">If you want more details. click here...</a>
      </strong>
    </p>

    <hr class="my-4">

    <h4 class="mb-5 h4">News Details Table</h4>

    <button type="button" [routerLink]="['/dashboard/news-editor']" class="btn btn-primary" style="margin-bottom: 15px">Create new News</button>
    <table class="table table-striped w-auto">
      <thead>
      <tr>
        <th scope="row">#</th>
        <th>Topic</th>
        <th>Category</th>
        <th>Description</th>
        <th>Short Description</th>
        <th>Month</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let news of newsList" style="vertical-align: middle !important;">
        <td>{{news.id}}</td>
        <td>{{news.topic}}</td>
        <td>{{news.category}}</td>
        <td>{{news.description | slice:0:100}}...</td>
        <td>{{news.shortDescription | slice:0:100}}...</td>
        <td>{{news.month}}</td>
        <td>{{news.date}}</td>
        <td>
          <button type="button" (click)="updateNews(news)" class="btn btn-primary" style="margin-right: 15px">Update</button>

          <button
            style="margin: 10px 10px 0px 0px"
            class="btn btn-danger"
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="left"
            (confirm)="deleteFarmer(news.id, news)"
            (cancel)="cancelClicked = true">
            Remove
          </button>
          <!--        <button type="button" (click)="deleteFarmer(farmer.id)" class="btn btn-danger">Remove</button>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
