<!--Section: Magazine v.2-->
<section class="magazine-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Latest News</h2>
  <!-- Section description -->
  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">“To achieve globally competitive production,
    processing and marketing enterprises through socially acceptable,
    innovative and commercially-oriented agriculture, through sustainable management of natural resources of the country”</p>

</section>
<!--Section: Magazine v.2-->

<div class="container">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-6 col-md-12">

      <!-- Featured news -->
      <div class="single-news mb-lg-0 mb-4" *ngFor="let news of newsList let i = index" >

        <div *ngIf="i < 4">
          <!-- Image -->
          <div class="view overlay rounded z-depth-1-half mb-4">
            <img class="img-fluid" src="{{baseImagePath}}/{{news.imageFileName}}" width="100%" height="100%" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>

          <!-- Data -->
          <div class="news-data d-flex justify-content-between">
            <a href="#!" class="deep-orange-text">
              <h6 class="font-weight-bold">
                <i class="fas fa-utensils pr-2"></i>{{news.category}}</h6>
            </a>
            <p class="font-weight-bold dark-grey-text">
              <i class="far fa-clock pr-2"></i>{{news.date}}/{{news.month}}</p>
          </div>

          <!-- Excerpt -->
          <h3 class="font-weight-bold dark-grey-text mb-3">
            <a>{{news.topic}}</a>
          </h3>
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{{news.description}}</p>
          <br>
          <br>
        </div>
        <!-- Featured news -->
      </div>

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-6 col-md-12">

      <!-- Small news -->
      <div class="single-news mb-4" *ngFor="let news of newsList">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-3">

            <!--Image-->
            <div class="view overlay rounded z-depth-1 mb-4">
              <img class="img-fluid" src="{{baseImagePath}}/{{news.imageFileName}}" alt="Sample image">
              <a>
                <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
              </a>
            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-9">

            <!-- Excerpt -->
            <p class="font-weight-bold dark-grey-text">{{news.topic}}</p>
            <div class="d-flex justify-content-between">
              <div class="col-11 text-truncate pl-0 mb-3">
                <a href="#!" class="dark-grey-text">{{news.shortDescription}}</a>
              </div>
              <a>
                <i class="fas fa-angle-double-right"></i>
              </a>
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Small news -->
    </div>
  </div>
</div>
